General Requirements

1. User Account system - The system must be able to allow account creation, which also checks for email validation. Users should be able to login and 
						check their: profile, orders, basket, newsletter
						
						
2. Stock/Products system - The db should have tables to hold the products, entering products onto the db should automatically update the website
							on: pricing, amount left, sizes that we have, colours, delivery etc
							
							
3. Payment Processing System - The system should be able to handle paypal payments from a checkout

4. Discount codes - The company should be able to easily add discount codes for a set date and expiry time 

5. Favourites - Adding clothes on favourites should save separately to cart

6. Contact form - Customers should be able to contact customer support either live chat or email

7. Search items - Be able to search for items via names/tags and product id

8. Newsletter/Subscription service - be able to subscribe with email and receive news or information on clothes

9. Reminder/Stock system - The system should be able to tell users if they would like to be emailed whenever we have stock of a 
							particular item that is out of stock