General Requirements

1. User Account system - The system must be able to allow account creation, which also checks for email validation. Users should be able to login and 
						check their: profile, orders, basket, newsletter
						
						
2. Stock/Products system - The db should have tables to hold the products, entering products onto the db should automatically update the website
							on: pricing, amount left, sizes that we have, colours, delivery etc
							
							
3. Payment Processing System - The system should be able to handle paypal payments from a checkout
						